
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Title -->
    <title>عدم دسترسی</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="~/lib/bootstrap-4.5.2-dist-rtl/css/bootstrap.rtl.css" rel="stylesheet" />
</head>

<body class="bg-dark text-white py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>
            </div>
            <div class="col-md-10">
                <h3>عدم دسترسی</h3>
                <p>شما اجازه دسترسی به این صفحه را ندارید<br /> لطقا برای ادامه جستجو در سایت به صفحه قبل بازگزدید</p>
                <a class="btn btn-danger" href="javascript:history.back()">بازگشت</a>
            </div>
        </div>
    </div>

    <div id="footer" class="text-center">
        وب سایت صنایع دستی اصفهان
    </div>
</body>

</html>
